.company-list {
    width: 100%;
}

.company-table {
    th{
        text-align: center;
    }
    .even {
        td {
            text-align: center;
            display: table-cell;
            vertical-align: inherit;
            img{
               display: block;
               margin-left:auto;
               margin-right:auto;
            }
        }
        


    }

    .odd{
        td {
            display: table-cell;
            vertical-align: inherit;
            text-align: center;
        }
        img{
            display: table-cell;
            vertical-align: inherit;
        }

    }
}
.stock{
    border-bottom:1px solid #dad5d5;
    margin-bottom: 20px;

    ul{
        li{
            display: inline-block;
            padding: 10px;
            margin:10px;
            background: #fff;
            span{
                margin-left:5px;
            }
        }
    }
}

#purchase_table{
    .btn-adds{
        display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}